@import './sidebar.scss';

.chartLinks { 
    padding-top: 20px;   
    padding-bottom: 20px;
    &__title {
        font-size: 18px;
        color: #333;
        margin: 0 0 16px;
        margin-bottom: 14px;        
        font-weight: normal;
    }
    &__list {
        list-style-type: none;
        padding-left: 0;
        font-size: 13px;
        &_item {
            margin-top: 0.3em;
            a  {
                color: #136CB2;
                text-decoration: none;
                &:hover {
                    text-decoration: underline
                }
                &.active {
                    background-color: #FFF;
                    border-radius: 5px;
                    -webkit-box-shadow: 0 0 3px;
                    box-shadow: 0 0 3px;
                    display: inline-block;
                    margin: 0 0 0 -7px;
                    padding: 2px 7px 3px;
                }
            }            
        }
    }
}

