.header {
    
    &__popular,
    &__250 {
        margin-bottom: 2px;        
        color: #424242;
        font: 27px Arial,sans-serif;
        font-weight: normal;
        &_subtitle {
            font-size: 11px;
            color: #666;
            margin: 3px 0 10px;
            font-family: Verdana, Arial, sans-serif;
            font-weight: normal;
        }
    }
    &__wrapper {
        display: grid;        
        grid-template-rows: auto auto; 
        justify-content: space-between;   
        border-bottom: solid 1px #ccc;
    }

}