.signup-page {
  padding: 0 20px;
  background: #fff;
  a {
    color: skyblue;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
    padding: 20px;
    box-shadow: 2px 2px 5px gray;
    border-radius: 10px;
  }
  .pass-error {
    background-color: lightcoral;
  }
}