.boxOffice {
    &__wrapper {
        list-style-type: none;
        margin-top: 20px;
        font-family: Verdana, Arial, sans-serif;
        padding-left: 0;
        margin-bottom: 0;
    }
    &__item {
        display: grid;
        grid-template-columns: 1fr 48% 1.2fr 1.2fr 1fr 1fr;
        color: #666666;
        font-size: 12px;
        padding-bottom: 3px;
        text-align: left;
        vertical-align: bottom;
        font-weight: normal;
        align-items: center;
        &:nth-child(1) {
            font-weight: bold;
        }
        &_img {
            max-width: 45px;
            max-height: 67px;
        }
        &_title {
            a {
                display: block;
                color: #136CB2;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &_weeks {
            justify-self: center;
        }

        &_watch {
            padding-right: 15px;
            justify-self: center;
            position: relative;
            display: flex;
            height: 100%;
            width: 100%;
            & .add-flag-wrap{
                top: 21px;
                opacity: 1;
                width: 30px;
                height: 30px;
                left: 12px;
                background-image: url('https://m.media-amazon.com/images/S/sash/INbcM2-CU0AKIbe.png');
                .add-flag{
                    display: none;
                }
                .plus-icon{
                    // display: none;
                    background: none;
                }
                &.checked{
                    &:hover{
                        background-position: 0px -30px;
                    }
                }
                &.unchecked{
                    background-position: -30px 0px;
                    &:hover{
                        background-position: -30px -30px;
                    }
                }
            }
            &.loading{
                & .add-flag-wrap{
                    background-image: none;
                }
                .plus-icon{
                    // display: none;
                    background-image: url('https://m.media-amazon.com/images/S/sash/INbcM2-CU0AKIbe.png'),
                    url('https://m.media-amazon.com/images/S/sash/VPO7nZEEVf68gfL.gif');
                    background-position: -60px 0px, 7.5px 3px;
                    background-repeat: no-repeat, no-repeat;
                    background-blend-mode: multiply;
                    & svg{
                        display: none;
                    }
                }
            }
        }
    }
    &__reported {
        color: #707070;
        font: 9.1px Verdana, Arial, sans-serif;
        border-bottom: 1px solid #E8E8E8;
        padding-bottom: 10px;
        &_link {
            color: #136CB2;
            text-decoration: none;
            padding: 0 5px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__offsiteLink {
        display: block;
        padding-top: 10px;
        color: #136CB2;
        text-decoration: none;
        font-family: Verdana, Arial, sans-serif;        
        font-size: 13px;
        &:hover {
            text-decoration: underline;
        }
    }

}

.odd {
    background-color: #f6f6f5;
    border: #fff 1px solid;
}

.even {    
    background-color: #fbfbfb;
    border: #fff 1px solid;
}