.celebs {
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 7px);
    background: -o-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 7px);
    background: linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 7px);
    background-repeat: no-repeat;
    background-size: 100% 7px;
    background-color: #FFF;
    padding: 1rem;
    margin-top: -1px;
    margin-bottom: -17px;
    margin: auto;
    background-color: #fff;
    max-width: 1008px;
    min-height: 100rem;
    &__container {
        width: auto;
        margin: auto;
        width: 100%;
        min-height: 100rem; 
        background: #b3b3b0;
        background: -webkit-linear-gradient(top, #b3b3b0 0%, #e3e2dd 500px);
        background: -o-linear-gradient(top, #b3b3b0 0%, #e3e2dd 500px);        
        background-color: #e3e2dd;
        background-repeat: no-repeat; 
    }    
    &__wrapper {
        border-radius: 12px;
        border: 1px solid #E8E8E8;
        margin-bottom: 7px;
        padding: 10px 12px;
        width: auto;
        background-color: #FFFFFF;
        min-height: 100rem;
        
    }
    &__title {
        position: relative;
        margin-left: 1rem;
        h1 {  
            margin: 0;
            color: #424242;
            font: Arial,sans-serif;
            font-weight: bold;
        }
        &:before {
            background: #f5c518;                
            border-radius: 4px;
            content: "";
            margin-left: -0.75rem;
            align-self: flex-start;
            position: absolute;
            height: 100%;
            width: 4px;
        }
    }
    &__names {
        margin-top: 1rem;
        margin-left: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;        
        font-family: Verdana, Arial, sans-serif;
        color: #333;
        font-size: 13px;
        &_ghost {
            color: #CCC;
            
        }
        &_current {
            padding-right: 5px;
        }
        &_btn {
            background-color: transparent;
            border: none;
            color: #136CB2;  
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }  
        }
    }
    &__content {
        &_wrapper {
            min-height: 100rem;
        }
    }

    &__items {
        margin-top: 1rem;
        list-style-type: none;
        margin-bottom: 0;
        padding: 0 1rem;        
    }
    &__item {
        min-height: 239px;
        margin-bottom: 3px;        
        padding: 10px 10px 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        &_image {
            max-width: 140px;
            min-width: 140px;
            max-height: 209px;
            min-height: 209px;
            display: inline-block;
            margin-right: 15px;
            vertical-align: top;
            &-img {
                max-width: 100%;
                max-height: 100%;
                box-shadow: 0 0 3px 1px rgb(0 0 0 / 50%);
            }
        }
        &_content {
            width: 100%;
            &-header { 
                padding: 0;
                font-weight: bold;
                line-height: 1.1;
                font-size: 1.17em;
                color: #A58500;
                &-text {
                    font-weight: normal;
                    color: #333;
                    font-family: Verdana, Arial, sans-serif;
                    color: #333;
                    font-size: small;
                    margin-right: 5px;
                    
                }
                a {
                    color: #136CB2;
                    text-decoration: none;
                    font-size: 15px;                    
                    font-family: Verdana, Arial, sans-serif;
                    &:hover {
                        text-decoration: underline;
                    }  
                }
            }
            &-job {
                color: rgba(0,0,0,0.6);
                font-size: 55%;
                margin: 0.5em 0 0.75em;
                line-height: 140%;
                padding: 0;
                font-family: Verdana, Arial, sans-serif;
                &-ghost {
                    color: #CCC;
                }
                a {
                    color: #136CB2;
                    text-decoration: none;
                    font-family: Verdana, Arial, sans-serif;
                    padding-left: 5px;
                    &:hover {
                        text-decoration: underline;
                    } 
                }
            }
            &-interactiveImage {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 50px;
                margin-left: 2rem;
                &-know {
                    width: auto;
                    text-decoration: none;
                    font-family: Verdana, Arial, sans-serif;
                    font-weight: bold;
                    
                }
                &-list {
                    padding-left: 0;
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    width: 70%;
                    justify-content: space-between;
                    min-height: 190px;                    
                    &-item {
                        max-height: 180px;
                        a {
                            height: 100%;
                            width: 100%;
                        }
                        cursor: pointer;                        
                        &:first-child {
                            box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(46, 46, 46, 0.3) -10px 10px, rgba(61, 61, 61, 0.2) -15px 15px, rgba(85, 85, 85, 0.1) -20px 20px, rgba(151, 151, 151, 0.05) -25px 25px;
                        }
                        &:nth-child(2) {
                            box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(46, 46, 46, 0.3) -10px 10px, rgba(61, 61, 61, 0.2) -15px 15px, rgba(85, 85, 85, 0.1) -20px 20px, rgba(151, 151, 151, 0.05) -25px 25px;
                        }
                        &:last-child {
                            box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(46, 46, 46, 0.3) -10px 10px, rgba(61, 61, 61, 0.2) -15px 15px, rgba(85, 85, 85, 0.1) -20px 20px, rgba(151, 151, 151, 0.05) -25px 25px;
                        }
                        &-image {
                            max-width: 127px;
                            min-width: 125px;
                            transition: all  .2s linear;
                            &:hover {
                                transform: translateY(-10px);
                                box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
                            }
                            img {                                
                                min-height: 180px;
                                max-height: 180px;
                                max-width: 100%;
                                transition: all  .2s linear;                                
                                &:hover {
                                     transform: scale(2);                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}